body {
  background-color: black;
  background-image: url("../src/Images/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  background-image: url("../src/Images/Transparent.png");
}

.header {
  height: 12vh;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.li {
  margin: 2% 2%;
  font-size: 30px;
  color: white;
  font-family: "InterLight";
  font-weight: 400;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
